/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 1, 2018, 4:44:34 PM
    Author     : AR
*/

body{
    background-color: #ddd;
    color: black;
    padding: 0.5em;
    height: 100vh;
    font-size: 10px;
}
.expanded-container{
    height: auto;
    margin-bottom:10px
}
.box-component{
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0.2em;
    padding: 1.2em;
    height: 100%;
}
.chip, .chip-fluid{
    height: 32px;
    font-size: 0.75rem;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 0.6em;
    background-color: #f8f8f8;
    margin-bottom: 5px;
    margin-right: 5px;
    box-shadow: 1px 1px #888;
}
.chip{
    display: inline-block;
}

.chip-fluid{
    display: block;
}
.chip.disabled:hover, .chip-fluid.disabled:hover {
    border: none;
    box-shadow: none;
}
.chip.disabled, .chip-fluid.disabled {
    background-color: #e0e0e0 !important;
    font-size: 11px;
    height: 28px;
    line-height: 29px;
    font-style: italic;
    font-weight: 200;
    color: rgba(50,50,200,1) !important;
    box-shadow: none;
}
.chip>img {
    float: left;
    margin: 0 8px 0 -10px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.chip.active , .chip-fluid.active{
    border: 1px solid rgba(250,100,100,0.7);
    background-color: #fff;
    box-shadow: 1px 1px #555;
    color: red;
    font-weight: 800 !important;
}
.chip:hover, .chip-fluid:hover{
    border: 1px solid rgba(200,100,100,0.5);
    background-color: #f6f6f6;
    color: red;
    box-shadow: 2px 2px #555;
}
.icon-adjust>img {
    margin: 2px 8px 0 -10px !important;
}
.chip-fluid>img {
    float: left;
    margin: 0 8px 0 -8px;
    height: 28px;
    width: 28px;
    border-radius: 50%;
}
.active > .chipText{
    font-weight: 800 !important;
}
.full-viewport{
    height:100%;
}

.componentMargins{
    margin-bottom: 1.3em;
}
.navbar-brand>img{
    height: 80px;
    /*width: 80px;*/
}
.navbar{
    /*border-radius: 1em;*/
    font-size: 1.3em;
    max-height: 4em;
    border-bottom: 1px solid red;
}
#navbarNavAltMarkup{
    justify-content: flex-end;
}

div.modal-content{
   /*background-color: #333 !important;*/
   background-color: #ddd !important;
}
.chip-fluid:hover > div >.icon-control, .chip:hover > div >.icon-control{
    display: inline  !important;
}
.chip-fluid:hover > div.controls-container, .chip:hover > div.controls-container{
    margin-left: 1em;
}

.icon-control{
    display: none !important;
    margin-right: 0.3em;
    cursor: pointer;
}

.ajaxLoadingAnimation {
    display:    none;    
}
.ajaxBackground{
    display:none;
}
.loading {
    display:block !important;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    position: absolute;
    left: 0;
    top: 0;
    /* background-color: #333; */
    background: rgba( 10, 10, 10, .5 ) url(../img/ajax-loader.gif) 50% 50% no-repeat;
}
.requiredInput:focus{
    border-color: red !important;
    box-shadow: 0 0 0 0.2rem rgba(255,0,0,.25) !important;
}
.requiredInput{
    border-color: red !important;
    box-shadow: 0 0 0 0.2rem rgba(255,0,0,.25) !important;
}
.ui-pnotify-icon, .ui-pnotify-icon span {
    display: block;
    float: left;
    margin-right: 0.2em;
    margin-top: 0.2em;
    font-size: 1.15em;
}

.ui-pnotify-text {
    display: block;
    font-size: 1.3em;
}

.col-2 {
    max-width: max-content;
}