
/* 
    Created on : Aug 17, 2018, 3:25:10 PM
    Author     : CD115986
*/
.fastMessage{
    display: inline;
    /* float: right; */
    bottom: 0;
    position: relative;
    z-index: 9999999;
    right: -10000px;
    margin: 2em;
    font-size: 1.5em;
    opacity: 0.1;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fastMessage.active:hover{    
    opacity: 1 !important;
}
#fastwrapper {
  display:block;
  position: fixed;
  z-index: 10000;

/*  @media #{$small-and-down} {
    min-width: 100%;
    bottom: 0%;
  }
  @media #{$medium-only} {
    left: 5%;
    bottom: 7%;
    max-width: 90%;
  }
  @media #{$large-and-up} {*/
    bottom: 10%;
    right: 7%;
    max-width: 86%;
  /*}*/
}
