/* 
    Created on : Aug 2, 2018, 11:32:36 AM
    Author     : AR
*/

/*
    Adjust for IE
*/
#logo-login{
    
    position:  absolute;
    z-index:  1000000;
    max-width: 440px;
    max-height: 103px;
    font-family: monospace;
        
}
@media (max-width: 1300px) {
    #logo-login{
        position:  absolute;
        z-index:  1000000;
        max-width: 35%;
        max-height: 12%;
        font-family: monospace;
    }
}
#login-container{
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
}

.login-block{
    min-height: 20em;
    height: auto;
    max-height: 50em;
    width: 40em;
    background-color: #eee;
    border-radius: 1em;
    padding: 2em;
}

.login-block > img {
    margin:1em;
    max-height: 50%;
}
#container {
    margin: 0 auto;
    margin-top: 27em;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.loader {
  height: 5px;
  background: #ff2b26;
  position: relative;
}



.bb, .bb::before, .bb::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bb {
  width: 390px;
  height: 385px;
  margin: auto;
  /*background: url("//blog.codepen.io/wp-content/uploads/2012/06/Button-White-Large.png") no-repeat 50%/70% rgba(0, 0, 0, 0.1);*/
  color: #ca6962;
  box-shadow: inset 0 0 0 1px rgba(205, 102, 98, 0.5);
}
.bb::before, .bb::after {
  content: '';
  z-index: -1;
  border-radius:1em;
  margin: -4%;
  box-shadow: inset 0 0 0 0.5px;
  animation: clipMe 8s linear infinite;
}
.bb::before {
  animation-delay: -4s;
}


@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 444px, 4px, 0px);
  }
  25% {
    clip: rect(0px, 4px, 444px, 0px);
  }
  50% {
    clip: rect(438px, 444px, 444px, 0px);
  }
  75% {
    clip: rect(0px, 444px, 444px, 438px);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}