/* 
    Created on : Oct 16, 2018, 11:30:25 AM
    Author     : Angel Rodrigues <arodrigues@itpatagonia.com>
*/

.icon-btn{
    color: lightgray;
    cursor:pointer;
    font-size: 1.4em;
}
.icon-btn:hover{
    color: darkgray;
}

#logsContainer {
    font-family: monospace;
}
