/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 2, 2018, 11:53:22 AM
    Author     : AR
*/
.headers{
    font-size:2.3em;
}
button, .btn{
    border-radius: 0.1em !important;
    display: inline-table!important;
}
.vertical-list-component{
    display:flex;
    flex-direction: column;
    align-content: space-between;
    /*min-height: 33em;*/
    min-height: 30vh;    
}

#enviromentListContainer{
    height: 10em;
    padding: 0.5em;
    width: 100%;
    background-color: #efefef;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border: 1px solid #ddd;
}
#tablesListContainer,#columnsListContainer{
    max-height: 13em !important;
    height:100%;
}
#databaseListContainer{
    height:100%;
}
.list-chips-container{
/*    background-color: #bbb;*/
    padding: 1.5em;
    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;
    overflow-y:scroll;
    overflow-x:hidden;
    /*-ms-overflow-style: none;*/
    background-color: #ebebeb;
    border: 1px solid #ddd;
}
/* width */

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar:hover {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #BBB; 
    border-radius: 0.5em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #aaa; 
}
:-moz-any(#content,#appcontent) browser{
 margin-right:-14px!important;
 overflow-y:scroll;
 margin-bottom:-14px!important;
 overflow-x:scroll;
}
.adjust-to-helptext{
    width: 100% !important;
}
.translucent{
    opacity: 0.8;
}